


.nav{
	background-color: white;
	z-index: 9;
	padding: 10px;
	padding-left: 50px;
	padding-right: 50px;
	display:flex;
	box-shadow: 0px 3px 65px 0px rgba(0,0,0,.15);
}
.nav_top{
	position:fixed;
	top: 0;
	right: 0;
	left:0;
}
.logo{
	/*background-image: url("travel.jpg");
	background-position: center;*/
	float:left;
	width: 100%;
}
.logo img{
	
	padding: 10px;

}
.nav_side{
	float:right;
	width:40%;
	margin-top:20px;
}
.nav_side a{
	text-decoration: none;
	margin-right: 10px;
	padding-top: 20px;
	color: black;
	font-weight: bold;
	font-family: cosmic, sans-serif;
	font-size: 15px;
	justify-content: center;
	align-items: center;
	align-content: center;
	text-align: right;
}
.nav_side a:hover{
	color:rgb(150, 56, 137);
	text-decoration: underline;
	transition: all ;
}
.main{
	background-image: url('travel.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100vh;
}
.main .main_content {
	padding-top:15%;
	margin-left: 12%;
	margin-right: 10%;
	
	
}
.main .main_content h2{
	color:white;
	font-size: 50px;
	font-family: cosmic, sans-serif; 
	font-weight: bolder;
	text-align: center;
	line-height:25px;
	text-shadow: 2px 2px slategrey;
}

.main .main_content span{
	color:rgb(24, 1, 1);
	text-align:center;
	font-size: 25px;
	opacity: 0.8;
	font-weight: 400;
	line-height: 20px;
	margin-left:450px;
	text-shadow: 1px 1px black;
	background-color:grey;
}

.main .main_content .btn{
	margin-top:50px;
}

.main .main_content .btn a{
	text-decoration: none;
	margin:  600px 540px;
	margin-bottom: auto;
	padding: 10px 20px;
	background-color: rgb(67, 69, 71);
	color: white;
	font-family:Georgia, 'Times New Roman', Times, serif;
	text-align: center;
	border:2px solid white;
	border-radius: 10px;
	transition:0s;

	
}
.main .main_content .btn a:hover{
	background-color:rgb(170, 154, 108);
	color: black;
	border: none;
	border-bottom: 4px solid orange;
	transition: 0.5s;
}

.places{
	padding-bottom: 45px;
}
.places h2{
	color: black;
	font-size:30px;
	text-align:center;
	padding: 20px;
}


.places p{
	text-align: center;
}

.places .places_container{
	display:flex;
	margin-left: 5%;
	margin-right: 5%;
}

.places .places_container .spot{
	width: 33.33%;
	margin:10px;
	height:auto;
}

.places .places_container .spot:hover{
	box-shadow: 0px 3px 65px 0px rgba(0,0,0,.15);
}


.places .places_container .spot .spot_img{
	width: 100%;
	height: 250px;
	overflow: hidden;
}

.places .places_container .spot .spot_img img{
	width: 100%;
	height: 250px;
}

.places .places_container .spot .spot_content{
	text-align: center;

}
.places .places_container .spot .spot_content h3{
	padding: 5px;
	font-size: 25px;
	font-family: cosmic, sans-serif;
	
	
}

.places .places_container .spot .spot_content p{
	padding: 15px;
	margin-top:10px;
	font-size: 15px;
	font-family: cosmic, sans-serif;
	
}
.places .places_container .spot .spot_content a{
	text-decoration: none;
	margin:  100px;
	margin-bottom: 10;
	padding: 10px 20px;
	background-color: rgb(50, 135, 168);
	color: white;
	font-family:Georgia, 'Times New Roman', Times, serif;
	text-align: center;
	border:2px solid white;
	border-radius: 10px;
	transition:0s;	
}

.places .places_container .spot .spot_content a:hover{
	background-color:rgb(170, 154, 108);
	color: black;
	border: none;
	border-bottom: 4px solid beige;
	transition: 0.5s;
}

.places .places_btn{
	text-align: center;
	margin-top: 50px;
}

.places .places_btn a{
	text-decoration: none;
	margin-bottom: 10;
	padding: 10px 20px;
	background-color: rgb(50, 135, 168);
	color: white;
	font-family:Georgia, 'Times New Roman', Times, serif;
	text-align: center;
	border:2px solid white;
	border-radius: 10px;
	transition:0s;	
}

.places .places_btn a:hover{
	background-color:rgb(170, 154, 108);
	color: black;
	border: none;
	border-bottom: 4px solid beige;
	transition: 0.5s;
}

.keypoint{
	padding:50px;
}
.keypoint h2{
	color: black;
	font-size:30px;
	text-align:center;
	padding: 10px;	
}

.keypoint .key_container{
	display:flex;
}

.keypoint .key_container .key_content{
	width: 40%;
	padding: 20px;
	float: left;
}

.keypoint .key_container .key_content li{
	list-style:none;
	margin: 10px;
	padding: 10px;
	border-left: 2px solid orange;
	color: black;
	text-align: left;
	font-family: cosmic, sans-serif;
	box-shadow: 0px 3px 65px 0px rgba(0,0,0,.15);
}
.keypoint .key_container .key_image{
	width:200%;
	float:right;
	margin: left 100%;;
	
}

.keypoint .key_container .key_image img{
	width:100%
}

.testi{
	padding:50px;
}
.testi h2{
	color:black;
	font-size:35px;
	text-align:center;
	padding:10px;
	text-transform:uppercase;
}
.testi .testi_container{
	margin-right:10%;
	margin-left:10%;
	text-align: center;

}
.testi .testi_container .carousel-inner{
	background-color:white;
	box-shadow:none;
}
.testi .testi_container .item{
	width:100%;
	padding:20px;
	background-color:white;
	box-shadow:none;
}
.testi .testi_container .item .item_img{
	width: 100%;
	height: 250px;
	overflow: hidden;
	image-orientation: initial;
}

.testi .testi_container .item .item_img img{
	/*width: 100px;
	height: 250px;*/
	border-radius: 100%;
	margin-top:50px;
	height:200px;
	width:600px;
	

}
.testi .testi_container .item .item_content{
	text-align: center;

}
.testi .testi_container .item .item_content h3{
	padding: 5px;
	font-size: 25px;
	font-family: cosmic, sans-serif;
	
	
}

.testi .testi_container .item .item_content p{
	padding: 15px;
	margin-top:10px;
	font-size: 15px;
	font-family: cosmic, sans-serif;
	
}	

.team{
    padding:50px;
}
.team h2{
    background-color: #99A3A4;
	padding: 50px;
}
.team .team_container{
    display:flex;
}
.team .team_container .team_video{
    width: 40%;
    padding: 20px;
}
.team .team_container .team_video video{
    width: 120%;
    
}
.team .team_container .team_content{
    width: 75%;
    padding: 35px;
    margin-left: 60px;
}
.team .team_container .team_content p{
    padding: 5px;
	font-size: 20px;
	font-family: cosmic, sans-serif;
}
.feed{
    
    background-image: url('formbackground3.jpg');
    background-size: cover;
}
.feed h2{
    color: white;
    font-size: 35px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    background-color: rgb(104, 99, 99);
}
.feed .feed_form{
    text-align: center;
}
.feed .feed_form form{
    padding: 20px;
}
.feed .feed_form form input{
    width: 30%;
    margin: 10px;
    margin-top: 15px;
    padding: 6px;
    outline: none;
    border: none;

}
.feed .feed_form form textarea{
    width: 30%;
    margin: 10px;
    margin-top: 15px;
    padding: 6px;
    outline: none;
    border: none;

}
.feed .feed_form form button{
    width: 30%;
    margin: 10px;
    margin-top: 15px;
    padding: 6px;
    outline: none;
    border: none;
    background-color: rgb(109, 70, 70);
    color: white;
    border-radius: 5px;
}
.feed .feed_form form button:hover{
    color:rgb(67, 69, 71);
}

.about_us{
    padding: 100px;
}
.about_us h2{
    color: rgb(150, 56, 137) ;
    font-size: 35px;
    text-align: center;
    padding: 10px;
    /*text-transform: uppercase;*/   
}
.about_us p{
    padding: 10px;
    font-size: 20px;
    text-align: center;
    font-family: cosmic,sans-serif;
    line-height: 25px;
}

.contact_container{
    padding: 100px;
}
.contact_container h2{
    color: rgb(150, 56, 137) ;
    font-size: 35px;
    text-align: center;
    padding: 10px;
}
.contact_container .g_map{
    border: 10px solid rgb(54, 52, 52);
    border-width: 3px;
}
.contact_container .contact_content{
    padding: 20px;

}
.contact_container .contact_content  p{
    padding: 10px;
    font-size: 20px;
    text-align: right;
    font-family: cosmic,sans-serif;
    line-height: 10px;
}
.places{
	padding-bottom: 45px;
}
.places h2{
	color: black;
	font-size:30px;
	text-align:center;
	padding: 20px;
}


.places p{
	text-align: center;
}

.places .places_container{
	display:flex;
	margin-left: 5%;
	margin-right: 5%;
}

.places .places_container .spot{
	width: 33.33%;
	margin:10px;
	height:auto;
}

.places .places_container .spot:hover{
	box-shadow: 0px 3px 65px 0px rgba(0,0,0,.15);
}


.places .places_container .spot .spot_img{
	width: 100%;
	height: 250px;
	overflow: hidden;
}

.places .places_container .spot .spot_img img{
	width: 100%;
	height: 250px;
}

.places .places_container .spot .spot_content{
	text-align: center;

}
.places .places_container .spot .spot_content h3{
	padding: 5px;
	font-size: 25px;
	font-family: cosmic, sans-serif;
	
	
}

.places .places_container .spot .spot_content p{
	padding: 15px;
	margin-top:10px;
	font-size: 15px;
	font-family: cosmic, sans-serif;
	
}
.signup{
    
    background-image: url('login6.jpg');
    background-size: cover;
    text-align: center;
}
h2{
    color: rgb(150, 56, 137) ;
    font-size: 35px;
    text-align: center;
    padding: 10px;
    font-family: sans-serif ;
    margin;
    
}
.signup .signup_form{
    text-align: center;
    
}
.signup .signup_form form{
    padding: px;
}
.signup .signup_form form input{
    width: 30%;
    margin: 10px;
    
    padding: 6px;
    outline: none;
    border: none;

}
.signup .signup_form .dropdown1{
    width: 30%;
    margin: 5px;
    margin-left:380px;
    padding: 6px;
    outline: none;
    border: none;
    font-family: sans-serif;
    

}
.signup .signup_form .dropdown2{
    width: 30%;
    margin: 5px;
    margin-left:380px;;
    padding: 6px;
    outline: none;
    border: none;
    font-family: sans-serif;
    

}

.signup .signup_form button{
    width: 30%;
    margin: 10px;
    margin-top: 15px;
    padding: 6px;
    outline: none;
    border: none;
    background-color: rgb(109, 70, 70);
    color: white;
    border-radius: 5px;
}
.signup .signup_form button:hover{
    color:rosybrown;
}




footer{
	background-color: #99A3A4;
	padding: 50px;
}

footer .pages{
	text-align:center;
}
footer .pages h3{
	color:black;
	font-size: 20px;
	font-family: cosmic, sans-serif;
	padding: 5px;
}
footer .pages a{
	text-decoration: none;
	margin:10px;
	color:rgb(150, 56, 137);
	font-size:15px;
	font-family: cosmic, sans-serif;
}
footer .pages a:hover{
	color:white
}


footer .doc{
	text-align:center;
}
footer .doc h3{
	color:black;
	font-size: 20px;
	font-family: cosmic, sans-serif;
	padding: 5px;
}
footer .doc a{
	text-decoration: none;
	margin:10px;
	color:rgb(150, 56, 137);
	font-size:15px;
	font-family: cosmic, sans-serif;
}
footer .doc a:hover{
	color:white
}

footer .social{
	text-align:center;
	font-size:20px;
}
footer .social h3{
	color:black;
	font-size: 20px;
	font-family: cosmic, sans-serif;
	padding: 5px;
}
footer .social a{
	font-size: 30px;
	color:rgb(150, 56, 137); 
	margin:10px;
}
footer .social a:hover{
	color:white;

}


footer .contact{
	text-align:center;
}
footer .contact h3{
	color:black;
	font-size: 20px;
	font-family: cosmic, sans-serif;
	padding: 5px;
}
footer .contact a{
	font-size: 30px;
	color: rgb(150, 56, 137); 
	margin:10px;
}
footer .contact a:hover{
	color:white;

}











/*.main .main_content{
	padding-top: 15%;
	margin-left: 10%;
	margin-right:  10%;
}

.main .main_content h2{
	color:  black;
	font-size: 50px;
	font-family: cosmic,sans-serif;
	font-weight:  bolder;
	text-align:  center;
	line-height:  25px;
}
.main .main_content h2 span{
	font-size: 15px;
	opacity: 0.8;
	color: #FF5722;
	font-weight: 400;
	line-height: 20px;
}
